body{
    background-color: #ffffff;
    background-image: radial-gradient(circle, #ff8800 10%, transparent 10%);
    background-size: 20px 20px; 
}
header{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 330px;
}
p {
    max-width: 600px;
    margin: 0 !important;
    text-align: center;
    line-height: 1.6;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}



