{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico'%}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">

    {% block styles %}
    {% endblock %}

    <title>LinkedOut</title>
</head>
<body>
    <header>
        {% block header %} {% endblock %}
    </header>
    <nav id="nav" class="nav"> 
        <img class="logo" src="{% static 'img/logo-mini.svg' %}" alt="logo-nav" onclick="location.href='#';">
        <ul class="d-flex justify-content-center align-items-center m-0 gap-4">
            <li onclick="location.href='#section-que-es';">¿Qué es?</li>
            <li onclick="location.href='#section-funciones-persona';">¿Qué puedes hacer como persona?</li>
            <li onclick="location.href='#section-funciones-compañia';">¿Qué puedes hacer como compañia?</li>
        </ul>
    </nav>

        
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>

    </footer>
    <script src="{% static 'js/nav.js' %}"> </script>
    {% block scripts %}{% endblock %}
</body>
</html>