.nav[data-fixed]{
    position: fixed;

    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(3px);
}

.nav{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255);
    top:0;
    left:0;
    z-index: 1000;
    transition: 0.05s ease-in-out;
}
 
.nav .logo{
    height: 50px;
    width: auto;

    margin: 10px;

    transition: 0.1s ease-in-out; 
}

.nav .logo:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}

.nav ul{
    display: flex;
    flex-grow: 1;
    justify-content: start;
    gap: 10px;
    list-style: none;
    margin:0;
    padding: 0;

    transition: 0.2s ease-in-out;
}

.nav ul li{
    display: block;
    align-items: center;
    position: relative;
    
}
.nav ul li p{
    color: #D7974D;
    transition: 0.1s ease-in-out;
}

.nav ul li p:hover{
    transition: 0.2s ease-in-out;
    color: #422611;
    cursor: pointer;
}

.nav ul li ul.drop-menu{
    background-color: #D7974D;
    position: absolute;
    width: auto;

    border: 1px solid rgb(255, 255, 255);
    border-top: none;

    left: 10px;
    z-index: 999;
    display: block;

    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    
}

.nav ul li:hover ul.drop-menu{
    visibility: visible;
    opacity: 1;
    transition:  0.5s;
}

.nav ul li ul.drop-menu li{
    margin: 10px;
}

.nav ul li ul.drop-menu li p{
    color: white;
    transition: 0.1s;
}

.nav ul li ul.drop-menu li p:hover{
    color: #422611;
    transition: 0.1s;
}

